@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

.top_30 {
  margin-top: 30px;
}

body {
  background-image: url("background_image.jpeg");
  background-size: cover;
  background-positon: center;
  margin-bottom: 30px;
}

.h1 {
  margin-bottom: 30px;
}

.back {
  background-image: url("back.png");
  background-size: cover;
  background-positon: center;
  height: 15px;
  width: 15px;
  margin-top: 20px;
}

.image_ {
  margin-bottom: 10px;
}

.image_writer {
  margin-bottom: 10px;
  border-radius: 100%;
}



/* header */

.header_title {
  margin-right: 30px;
  color: #000;
}

.header_nav {
  height: 50px;
  width: 100%;
  background-color: rgb(255, 185, 0);
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.new {
  background-image: url("new.png");
  background-size: cover;
  background-positon: center;
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.index_header {
  background-image: url("index_header.png");
  background-size: cover;
  background-positon: center;
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.myPage {
  background-image: url("myPage.png");
  background-size: cover;
  background-positon: center;
  height: 40px;
  width: 40px;
  margin-top: 5px;
}


.logout {
  background-image: url("logout.png");
  background-size: cover;
  background-positon: center;
  height: 40px;
  width: 40px;
  margin-top: 5px;
}




/* articles */

/* articles index */

.about_background_image {
  background-image: image-url("about_background.jpg");
  background-size: cover;
  height: 650px;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.myBlog {
  position: absolute;
  top: 100px;
  left: 43%;
}

.index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.index_item {
  padding: 10px;
  border: solid 1px #000;
}

.index > .index_item {
  width: 205px;
  height: 150px;
  margin: 10px;
}

.title_index {
  font-size: 25px;
  color: #000;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date_index {
  font-size: 20px;
  color: #000;
  text-align: center;
  border-bottom: solid 1px #000;
}



/* articles show */

.articles_edit, .delete {
  display: inline-block;
  margin-right: 10px;
}

.articles_edit {
  background-image: url("edit1.png");
  background-size: cover;
  background-positon: center;
  height: 30px;
  width: 30px;
}

.title {
  border-bottom: solid 1px #000;
}

.body {
  word-break: break-all;
  margin-top: 70px;
  margin-bottom: 100px;
  border: solid 1px #000;
  padding: 20px;
  .image {
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #000;
  }
}

.article_show_name {
    line-height: 50px;
    margin-right: 5px;
  }


/* articles edit */

.delete {
  background-image: url("delete.png");
  background-size: cover;
  background-positon: center;
  height: 30px;
  width: 30px;
}



/* writer show */

.writer_edit {
  background-image: url("edit2.png");
  background-size: cover;
  background-positon: center;
  height: 20px;
  width: 20px;
}

.intro_writer {
  padding: 10px;
  margin-top: 20px;
  border: solid 1px #000;
}

.name_writer, .email_writer {
  font-size: 20px;
}

/* change_password */

.change_password{
  margin-top: 10px;
}

